/* .generateButton {
    background-color: #09d3ac;
    outline: none;
    cursor: pointer;
    border: 1px solid #09d3ac;
    color: #09d3ac;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    margin-top: 30%;
    box-shadow: 2px 2px 2px #09d3ac;
} */